{% extends "base_generic.html" %}

{% block title %}Acerca de - Mi Blog de Viajes{% endblock %}

{% block meta_description %}Conoce más sobre nuestro blog de viajes, nuestra misión y cómo compartimos experiencias únicas.{% endblock %}

{% block content %}
<h1>Acerca de Nosotros</h1>
<p>En <strong>Mi Blog de Viajes</strong>, nos apasiona explorar el mundo y compartir nuestras experiencias con otros viajeros.</p>
<p>Desde destinos lejanos hasta gemas ocultas cerca de casa, nuestro objetivo es inspirar y guiar a aquellos que desean descubrir el mundo de manera auténtica y memorable.</p>
<p>Gracias por ser parte de esta comunidad de exploradores. ¡Vamos a viajar juntos!</p>
{% endblock %}
